<div class="container-fluid">
	<h1>
		Fin2B Test
	</h1>
	<h2>
		<a href="/checkpw"> Password check</a>
	</h2>
	<h2>
		<a href="/google-search">Google search</a>
	</h2>
	<h2>
		<a href="/fibonacci">Fibonacci sequence</a>
	</h2>
</div>